.white-color{
  background-color: white;
  margin: 5px;
}

.btn-add{ 
min-width: 43px;
line-height: 25px;
padding: 0;
}

table {
  width: 100%;
}

.container-table {
    margin: 5px;
    background-color: white;

}