<mat-card class="container">
  <mat-card-header class="card-admin-header">
    <div mat-card-avatar>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title class="card-admin-title">Cadastro</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="barra">

    <form class="example-form" #f="ngForm">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dados Pessoais
            </mat-panel-title>
            <mat-icon>account_circle</mat-icon>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Nome completo" id="nome" name="nome" [(ngModel)]="usuarioAdm.nome"
              #name="ngModel" required>
            <mat-error *ngIf="f.invalid">Nome é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="CPF" name="cpf" [textMask]="{mask: CPFmask}"  [(ngModel)]="usuarioAdm.cpf" #name="ngModel"
             required>
            <mat-error *ngIf="f.invalid">CPF é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Telefone de contato" name="telefone_contato" [textMask]="{mask: Telmask}"
              [(ngModel)]="usuarioAdm.telefoneContato" #name="ngModel">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [min]="" [max]="" name="dataAniversario" [matDatepicker]="picker" placeholder="Data Nascimento"
              [(ngModel)]="dateF" #name="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="primary" (click)=" nextStep()">Próximo</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Endereço Residencial
            </mat-panel-title>
            <mat-icon>map</mat-icon>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Rua" name="ruaEnderecoPessoal" [(ngModel)]="usuarioAdm.ruaEnderecoPessoal" #name="ngModel" required>
            <mat-error *ngIf="f.invalid">Rua é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Numero</mat-label>
            <input matInput type="number" placeholder="Numero" name="numeroEnderecoPessoal" [(ngModel)]="usuarioAdm.numeroEnderecoPessoal"
              #name="ngModel" required>
              <mat-error *ngIf="f.invalid">Numero é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Cep" [textMask]="{mask: CEPmask}" name="cepEnderecoPessoal" [(ngModel)]="usuarioAdm.cepEnderecoPessoal" #name="ngModel" required>
            <mat-error *ngIf="f.invalid">Cep é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro" name="bairroEnderecoPessoal" [(ngModel)]="usuarioAdm.bairroEnderecoPessoal"
              #name="ngModel" required>
              <mat-error *ngIf="f.invalid">Cep é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade" name="cidadeEnderecoPessoal" [(ngModel)]="usuarioAdm.cidadeEnderecoPessoal"
              #name="ngModel" required>
              <mat-error *ngIf="f.invalid">Cidade é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" name="estadoEnderecoPessoal" [(ngModel)]="usuarioAdm.estadoEnderecoPessoal"
              #name="ngModel" required>
              <mat-error *ngIf="f.invalid">Estado é obrigatório.</mat-error>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Próximo</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dados de Acesso
            </mat-panel-title>
            <mat-icon>date_range</mat-icon>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Email" name="username" [(ngModel)]="usuarioAdm.username" #name="ngModel" required>
            <mat-error *ngIf="f.invalid">E-mail é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Senha" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuarioAdm.password"
              #name="ngModel" required>
              <mat-error *ngIf="f.invalid">Senha é obrigatório.</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" [disabled]="!f.valid"  (click)="Salvar(f)">Concluir</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card-content>
</mat-card>