
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    left: 2%;
  }

  .container-table {
      margin: 2%;
      background-color: white;

  }

  #btn-add{
      margin: 5px;
      float: right;
  }

  #id th{
    width: 10px;
  }
